.MMbrown {
    background-color: #96351E;
}

.MMbrowntxt {
    color: #96351E;
}

.MMtan {
    background-color: #DBB98F;
}

.MMtantxt {
    color: #DBB98F;
}

.MMblue {
    background-color: #1E7F96;
}

.MMbluetxt {
    color: #1E7F96;
}

.MMlbrown {
    background-color: #d95c3f;
}

.MMlbrowntxt {
    color: #d95c3f;
}

.MMdbrown {
    background-color: #501c10;
}

.MMdbrowntxt {
    color: #501c10
}

.MMdblue {
    background-color: #1B1F3B;
}

.MMdbluetxt {
    color: #1B1F3B;
}

.MMpurple {
    background-color: #613F75;
}

.MMpurpletxt {
    color: #613F75;
}

.MMblack {
    background-color: #171614;
}

.MMblacktxt {
    color: #171614;
}

.MMwhite {
    background-color: #E9FFF9;
}

.MMwhitetxt {
    color: #E9FFF9;
}